@media screen and (max-width:1430px) {

  /* explore the world section */
  .explore-container {
    width: 1100px;
  }

  .right-box {
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .about-heading {
    font-size: 20px;
    margin-bottom: 25px;
  }

  .explore-h {
    font-size: 60px;
    line-height: 70px;
    font-weight: 600;

  }

  .explore-h,
  .explore-p {
    text-align: center;
  }

  /* vacation section */
  .vacation-container {
    width: 1100px;
  }

  .vacation-box {
    width: 300px;
  }

  .city-img {
    width: 100%;
    object-fit: cover;
  }

  .city-h {
    margin-bottom: 12px;
    font-size: 20px;
  }

  .vacation-p {
    width: 280px;
    margin-top: 12px;
    margin-bottom: 35px;
    font-size: 12px;
    line-height: 14px;
  }

  .vac-price {
    width: 100%;
    align-items: center;
    padding-right: 30px;
  }

  .vac-price-p {
    font-size: 26px;
    margin-bottom: 10px;
  }

  /* why choose us section */
  .choose-container {
    width: 1100px;
  }

  .right-choose-box {
    width: 600px;
  }

  .choose-h {
    margin-bottom: 25px;
    font-size: 38px;
  }

  .choose-p-first,
  .choose-p-second {
    font-size: 16px;
  }

  .choose-p-second {
    margin-bottom: 50px;
  }

  .quantity-p {
    font-size: 38px;
    margin-bottom: 25px;
  }

  .tour-rating {
    font-size: 20px;
  }
}

@media screen and (max-width:1220px) {

  /* header */
  .header-container {
    width: 800px;
  }

  nav,
  .sign-btn-wrapper {
    display: none;
  }

  .burger-bar {
    display: inline-block;
    cursor: pointer;
  }

  /* explore the world section */
  .explore-container {
    width: 850px;
    margin-bottom: 50px;
  }

  .left-box {
    width: 500px;
  }

  .left-box img {
    width: 100%;
    object-fit: cover;

  }

  .right-box {
    width: 300px;
  }

  .explore-h {
    margin-bottom: 20px;
    font-size: 40px;
    line-height: 50px;
  }

  .explore-p {
    width: 100%;
    margin-bottom: 40px;
    font-size: 14px;
    line-height: 20px;
  }

  /* Popular destination section */

  .popular-destination {
    margin-bottom: 100px;
  }

  .heading-section {
    font-size: 38px;
    margin-bottom: 60px;
  }

  .popular-container {
    width: 600px;
    flex-wrap: wrap;
  }

  .destination-box:first-child,
  .destination-box:nth-child(2) {
    margin-bottom: 30px;
  }

  /* vacation box section */
  .vacation-section {
    padding-bottom: 60px;
  }

  .vacation-container {
    flex-direction: column;
    align-items: center;
  }

  .vacation-box {
    width: 373px;
    margin-bottom: 35px;
    font-size: 14px;
  }

  .city-h {
    margin-bottom: 18px;
    font-size: 24px;
  }

  .vacation-p {
    width: 325px;
    font-size: 14px;
  }

  /* book trip section */
  .t-h {
    width: 100%;
    line-height: 0;
  }

  .trip-container {
    width: 800px;
  }

  .right-trip-box {
    width: 450px;
  }

  .step-wrapper:not(:last-child) {
    margin-bottom: 30px;
  }

  .step-info {
    margin-left: 10px
  }

  .step-h {
    font-size: 20px;
  }

  .step-p {
    width: 300px;
    font-size: 14px;
  }

  .right-trip-box img {
    width: 100%;
    object-fit: cover;
  }

  /* why choose us */
  .choose-container {
    width: 800px;
    flex-direction: column;
    align-items: center;
  }

  .choose-h,
  .choose-p-first,
  .choose-p-second {
    text-align: center;
  }

  /* see tours wrapper sectin */
  .see-tours-wrapper {
    width: 700px;
  }

  .see-tours-h {
    margin-bottom: 30px;
    font-size: 30px;
  }

  .see-tours-p {
    margin-bottom: 60px;
  }

  .see-tours-btn {
    font-size: 18px;
  }

  /* footer  section */
  .footer-container {
    width: 800px;
  }

  .footer-h {

    font-size: 20px;
  }

  .footer-heading {
    margin-bottom: 12px;
  }

  .footer-li {
    margin-bottom: 10px;
  }
}

@media screen and (max-width:850px) {
  .btn {
    font-size: 10px;
  }

  /* header section */
  .header-container {
    width: 500px;
  }

  .header-logo {
    animation: dicrease-zoom-logo 3s linear infinite;
  }

  /* explore the world section */
  .explore-container {
    width: 500px;
    margin-bottom: 30px;
    padding-top: 100px;
  }

  .left-box {
    width: 250px;
  }

  .left-box img {
    width: 100%;
    object-fit: cover;

  }

  .right-box {
    width: 250px;
  }

  .about-heading {
    font-size: 12px;
    margin-bottom: 10px;
  }

  .explore-h {
    margin-bottom: 10px;
    font-size: 20px;
    line-height: 30px;
  }

  .explore-p {
    width: 100%;
    margin-bottom: 20px;
    font-size: 10px;
    line-height: 15px;
  }

  /* popular destination section */
  .popular-destination {
    margin-bottom: 50px;
  }

  .heading-section {
    font-size: 28px;
    margin-bottom: 40px;
  }

  .popular-container {
    width: 500px;
    flex-direction: column;
    align-items: center;
  }

  .dest-h {
    text-align: center;
  }

  .location-wrapper {
    justify-content: center;
  }

  .destination-box:not(:last-child) {
    margin-bottom: 30px;
  }

  /* book your trip section */
  .trip-container {
    width: 500px;
    justify-content: center;

  }

  .right-trip-box {
    display: none;
  }

  .left-trip-box {
    width: 400px;
  }

  .step-h,
  .step-p {
    text-align: center;
  }

  /* why choose us section */
  .choose-container {
    width: 500px;
  }

  .right-choose-box {
    width: 100%;
    padding-top: 30px;
  }

  .choose-h {
    font-size: 28px;
    margin-bottom: 15px;
  }

  /* see tour section */
  .see-tours-wrapper {
    width: 500px;
  }

  .see-tours-h {
    margin-bottom: 40px;
    font-size: 25px;
  }

  .see-tours-p {
    font-size: 14px;
    color: var(--black-color);
  }

  /* footer section */
  .footer-container {
    width: 180px;
    flex-direction: column;
  }

  .footer-logo {
    margin-top: 0;
  }

  .footer-h {
    margin-top: 20px;
  }

  .icons-wrapper {
    width: 120px;
  }
}

@media screen and (max-width:550px) {

  /* header section */
  .header-container {
    width: 310px;
  }

  /* explore the world section */
  .explore-container {
    width: 300px;
    align-items: center;
  }

  .left-box {
    display: none;

  }

  .right-box {
    width: 100%;
  }

  /* popular destination section */
  .popular-destination {
    margin-bottom: 20px;
  }

  .heading-section {
    font-size: 20px;
    margin-bottom: 20px;
  }

  .popular-container {
    width: 300px;
  }

  .destination-img {
    margin-bottom: 10px;
  }

  .location-p {
    margin-left: 8px;
  }

  /* vacation section */
  .vacation-section {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .vacation-box {
    width: 300px;
  }

  .city-h {
    font-size: 18px;
    margin-bottom: 10px
  }

  .vacation-p {
    width: 100%;
    font-size: 12px;
    line-height: 16px;
  }

  .from {
    font-size: 18px;
  }

  .vac-price-p {
    font-size: 20px;
  }

  /* book trip section */
  .t-h {
    width: 200px;
    line-height: 22px;
  }

  .trip-container {
    width: 300px;
    margin-bottom: 40px;
  }

  .left-trip-box {
    width: 100%;
  }

  .step-wrapper {
    flex-direction: column;
    align-items: center;
  }

  .step-wrapper img {
    width: 100px;
    margin-bottom: 10px;

  }

  /* why choose us section */
  .choose-section {
    padding-bottom: 0;
  }

  .choose-container {
    width: 300px;
  }

  .choose-pic-wrapper:first-child {
    display: none;
  }

  .choose-pic-wrapper:nth-child(2) {
    flex-direction: column;
    width: 200px;
  }

  .choose-pic-wrapper img:first-child {
    margin-bottom: 10px;
  }

  .choose-h,
  .quantity-p {
    font-size: 20px;
  }

  .choose-p-first,
  .choose-p-second,
  .tour-rating {
    font-size: 14px;
  }

  .quantity-p {
    margin-bottom: 10px;
  }

  /* see tours section */
  .see-tours-wrapper {
    width: 300px;
    margin-top: 150px;
  }

  .see-tours-h {
    color: var(--black-color);
  }

  .see-tours-p {
    font-size: 16px;
    margin-bottom: 30px;
  }
}